[submodule "moonshine"]
	path = moonshine
	url = https://github.com/moonshine-ai/moonshine.git
[submodule "noise-suppression-for-voice"]
	path = noise-suppression-for-voice
	url = https://github.com/werman/noise-suppression-for-voice
